*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    /* background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg); */
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #4169E1;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #4169E1;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #4169E1;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #4169E1;
    border: 2px solid #4169E1;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: 50%;
    margin: auto;
    color: black;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;


}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.game-box {
    padding-left: 20px;
    margin-top: 200px;
    border: 3px solid #4169E1;
    width: 25%;
    height: 100%;
    display: flex;
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
}

.content h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #1d44b8;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #4169E1;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}


.content .cn:hover{
    background-color: #1d44b8;

}

.content span{
    color: #4169E1;
    font-size: 65px
}

.form{
    width: 250px;
    height: 380px;
    /* background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%); */
    background: white;
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    border: 2px solid #1d44b8;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #4169E1;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #4169E1;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #4169E1;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #1d44b8;
    /* color: #4169E1; */
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #4169E1;
}
.liw{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 40px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: black;
}
.icons ion-icon{
    color: #4169E1;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #1d44b8;
}

/* html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #fd5c63;
}

#main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field {
    border: none;
    margin-bottom: 10px;
    padding: 0px 0px 5px 5px;
    outline: none;
}

#login-form-submit {
    cursor: pointer;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
} */